<!DOCTYPE HTML>
<html>
<% include header.ejs %>
<body>
	<div id= "hold"> <!-- id of page to dynamically load questions and answers into -->
		<center>
				<div id="StartPage">
				<h1>Welcome to Conor and Alastair's Congress Stalker! Create a username or login to an existing account</h1>
				Username:
				<input type="text" id="username"> <!-- username input -->
				<br/>
				<br/>
				<button class="btn btn-primary Create"> Create Username </button>
				<br/>
				<br/>
				<button class="btn btn-primary Login"> Login with Existing Username </button>
				<!--<input type="button" id="start" value="Submit">  submit username -->

		</center>


			</div>
	</div>

	</div>

</body>
<script src="public/jquery-1.11.3.min.js"></script>
<script src="public/js/scripts.js"></script> <!-- import javascript -->
</html>

