html {
	background-color: #6495ED;
	/*
	Blue background color
	*/
}

#StartPage{
	display: block;
	/*
	Experimentation with CSS div tags
	*/
}

#QuizPage{
	display: none;
	width: 500px;
	height: 500px;
	/*
	Experimentation with CSS div tags
	*/
}


